useDynLib(gel, .registration=TRUE)
# ~~~ sonic
export(read_sonic)
export(nakai_correction_2012)
# ~~~ ht8700
export(read_ht8700)
export(get_alarms)
export(add_alarms)
export(merge_data)
# remove these?
export(write_hashed)
export(read_hashed)
# ~~~ licor
export(read_licor)
# ~~~ miro
export(read_miro)
# ~~~ ec-evaluation
export(process_ec_fluxes)
export(rotate_twoaxis)
export(planar_fit)
export(plot_covfunc)
export(plot_cospec_ogive)
export(plot_damping)
export(cospec_model)
export(ogive_model)
export(reduce_cospec)
export(wpl_correction)
export(get_kappa)
export(col2hex)
export(process_turbulence)
# ~~~ tc01/ltc2/s31 sensors
export(read_s31)
export(read_tc01)
export(read_ltc2)
export(read_tc_sensors)
export(read_dds75)
# ~~~ idaweb
export(read_ida)
export(plot_ida)
export(ida_info)
export(ida_summary)
export(ida_stations)
export(ida_parameters)
export(ida_coverage)
# ~~~ wgs84-ch1903
export(fix_crs)
export(get_crs)
export(set_crs)
export(get_names)
export(get_col_classes)
export(check_numeric)
export(guess_coord_x)
export(guess_coord_y)
export(guess_coords)
export(parse_wkt)
export(deparse_wkt)
export(traverse_list)
export(modify_crs)
export(get_origin)
export(guess_ch)
export(coord_transf)
export(wgs_to_map)
export(map_to_wgs)
export(ch_to_wgs)
export(ch_to_map)
export(ch_to_user)
export(user_to_ch)
export(user_to_wgs)
export(user_to_map)
export(wgs_to_user)
export(wgs_to_ch)
export(map_to_user)
export(map_to_ch)
export(get_map)
export(get_map_wgs)
export(get_map_ch)
export(metric_wgs84)
# S3 methods
S3method(get_names, default)
S3method(get_names, matrix)
# ~~~ windrose
export(windrose)
# ~~~ weatherstation
export(read_ws700)
export(read_ws700A)
export(read_ws700B)
# ~~~ meas.fan
export(read_frequi)
# ~~~ gasfinder
export(read_gasfinder)
export(gf2ppm)
export(gf2mgm3)
# ~~~ hippie
export(read_hippie)
export(read_vials)
# ~~~ xnode
export(read_xnode)
# ~~~ minidoas
export(readDOASdata)
export(read_rawdata)
export(avgSpec)
export(process_spectra)
export(process_dailyfiles)
export(write_daily)
export(read_daily)
export(evalOffline)
export(runAppDOAS)
export(inspectEvaluation)
export(getDOASinfo)
export(read_data)
export(split_raw)
export(print.avgdat)
export(get_specs)
export(single_specs)
export(save_calref)
export(create_calref)
export(read_calref)
export(process_callist)
export(ppm_mgm3)
export(mgm3_ppm)
export(read_gas)
export(read_all_gases)
export(read_shutter_closed)
export(avg_spec)
export(cut_wl)
export(get_wl)
export(correct_dark)
export(correct_straylight)
export(correct_linearity)
export(get_Cheng)
export(read_cal)
export(convert_calref)
export(find_refperiod)
export(get_limits)
export(get_stats)
export(check_reftimes)
export(convert2mg)
export(get_cnt)
export(get_integration_time)
export(get_header)
export(get_refcal_spec)
export(get_refspec)
export(calc_dc)
export(local_minima)
export(calc_wl)
export(get_pixel)
export(cheng2dc)
export(sigma2dc)
export(cnt2wl)
export(cheng_factor)
export(find_cheng)
export(get_cal_infos)
export(cheng2doas)
export(convertCS)
export(old_cheng2dc)
export(dc2sigma)
export(get_timerange)
export(ann_time)
export(annotate_revolver)
export(gather_callists)
export(save_calspec)
export(get_wins)
export(fit_dc)
export(fit2ug)
export(resid_dc)
export(shift_tau)
export(get_fixpattern)
export(filter_time)
export(filter_index)
export(filter_closed)
export(filter_position)
export(eval_raw)
export(clean_cal)
export(plot_cal)
export(obj2string)
export(string2obj)
export(getSpecSet)
# ~~~ parallel
export(wait_free_mem)
export(convert_to_bytes)
export(check_free_mem)
export(.makePSOCKcluster)
export(.clusterApplyLB)
# S3methods
S3method(print, rawdat)
S3method(plot, rawdat)
S3method(lines, rawdat)
S3method(print, single_spec)
S3method(plot, single_spec)
S3method(lines, single_spec)
S3method(points, single_spec)
S3method(plot, calref)
S3method(plot, avgdat)
S3method(lines, avgdat)
S3method(print, caldat)
S3method(plot, caldat)
S3method(lines, caldat)
S3method(plot, dc)
S3method(lines, dc)
S3method(points, dc)
S3method(plot, chen)
S3method(Ops, dc)
S3method(plot, dc_resid)
S3method(lines, dc_resid)
S3method(print, doas.fit)
S3method(plot, fix_pattern)
S3method(lines, fix_pattern)
S3method(print, dc)
S3method(print, fix_pattern)
# ~~~ imports
importFrom(digest, sha1)
importFrom(lubridate, fast_strptime, POSIXct, date, with_tz, force_tz, tz)
import(Rcpp)
import(data.table)
import(ibts)
importFrom(jsonlite, read_json, fromJSON)
importFrom(qs2, qd_read, qd_save, qd_serialize, qd_deserialize)
importFrom(fields, interp.surface.grid)
importFrom(utils, capture.output)
importFrom(graphics, abline, axis, legend, lines, mtext, par, title)
importFrom(grDevices, col2rgb, dev.off, jpeg, rgb)
importFrom(stats, coef, cov, fft, na.action, optim, optimize, sd, setNames)
importFrom(stats, median, na.omit)
importFrom(utils, tail)
importFrom(lattice, xyplot, xscale.components.default, yscale.components.default, panel.xyplot)
import(parallel)
