useDynLib(gel, .registration=TRUE)
# ~~~ sonic
export(read_sonic)
# ~~~ ht8700
export(read_ht8700)
export(get_alarms)
export(add_alarms)
export(merge_data)
# remove these?
export(write_hashed)
export(read_hashed)
export(ht_merged_daily)
# ~~~ licor
export(read_licor)
# ~~~ ec-evaluation
export(process_ec_fluxes)
export(rotate_twoaxis)
export(planar_fit)
export(plot_covfunc)
export(plot_cospec_ogive)
export(plot_damping)
export(cospec_model)
export(ogive_model)
export(wpl_correction)
export(get_kappa)
export(obj2string)
export(string2obj)
export(col2hex)
# ~~~ imports
importFrom(digest, sha1)
importFrom(lubridate, fast_strptime, POSIXct, date, with_tz)
import(Rcpp)
import(data.table)
import(ibts)
importFrom(qs2, qd_read, qd_save, qd_serialize, qd_deserialize)
importFrom(fields, interp.surface.grid)
importFrom(utils, capture.output)
importFrom(graphics, abline, axis, legend, lines, mtext, par, title)
importFrom(grDevices, col2rgb, dev.off, jpeg, rgb)
importFrom(stats, coef, cov, fft, na.action, optim, optimize, sd, setNames)
importFrom(stats, median, na.omit)
importFrom(utils, tail)
importFrom(lattice, xyplot, xscale.components.default, yscale.components.default, panel.xyplot)
