useDynLib(gel, .registration=TRUE)
# ~~~ sonic
export(read_sonic)
export(nakai_correction_2012)
# ~~~ ht8700
export(read_ht8700)
export(get_alarms)
export(add_alarms)
export(merge_data)
# remove these?
export(write_hashed)
export(read_hashed)
export(ht_merged_daily)
# ~~~ licor
export(read_licor)
# ~~~ ec-evaluation
export(process_ec_fluxes)
export(rotate_twoaxis)
export(planar_fit)
export(plot_covfunc)
export(plot_cospec_ogive)
export(plot_damping)
export(cospec_model)
export(ogive_model)
export(wpl_correction)
export(get_kappa)
export(obj2string)
export(string2obj)
export(col2hex)
# ~~~ tc01/ltc2/s31 sensors
export(read_s31)
export(read_tc01)
export(read_ltc2)
export(read_tc_sensors)
# ~~~ idaweb
export(read_ida)
export(plot_ida)
export(ida_info)
export(ida_summary)
export(ida_stations)
export(ida_parameters)
export(ida_coverage)
# ~~~ wgs84-ch1903
export(fix_crs)
export(get_crs)
export(set_crs)
export(get_names)
export(get_col_classes)
export(check_numeric)
export(guess_coord_x)
export(guess_coord_y)
export(guess_coords)
export(parse_wkt)
export(deparse_wkt)
export(traverse_list)
export(modify_crs)
export(get_origin)
export(guess_ch)
export(coord_transf)
export(wgs_to_map)
export(map_to_wgs)
export(ch_to_wgs)
export(ch_to_map)
export(ch_to_user)
export(user_to_ch)
export(user_to_wgs)
export(user_to_map)
export(wgs_to_user)
export(wgs_to_ch)
export(map_to_user)
export(map_to_ch)
export(get_map)
export(get_map_wgs)
export(get_map_ch)
export(metric_wgs84)
# S3 methods
S3method(get_names, default)
S3method(get_names, matrix)
# ~~~ windrose
export(windrose)
# ~~~ weatherstation
export(get_ws700)
export(get_ws700A)
export(get_ws700B)
# ~~~ meas.fan
export(read_frequi)
# ~~~ gasfinder
export(read_gasfinder)
export(gf2ppm)
export(gf2mgm3)
# ~~~ hippie
export(read_hippie)
export(read_vials)
# ~~~ imports
importFrom(digest, sha1)
importFrom(lubridate, fast_strptime, POSIXct, date, with_tz)
import(Rcpp)
import(data.table)
import(ibts)
importFrom(qs2, qd_read, qd_save, qd_serialize, qd_deserialize)
importFrom(fields, interp.surface.grid)
importFrom(utils, capture.output)
importFrom(graphics, abline, axis, legend, lines, mtext, par, title)
importFrom(grDevices, col2rgb, dev.off, jpeg, rgb)
importFrom(stats, coef, cov, fft, na.action, optim, optimize, sd, setNames)
importFrom(stats, median, na.omit)
importFrom(utils, tail)
importFrom(lattice, xyplot, xscale.components.default, yscale.components.default, panel.xyplot)


